# ────────── Flutter & Dart ──────────
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
*.dill
*.tmp
*.lock

# Flutter API docs
**/doc/api/

# ────────── Android ──────────
android/app/google-services.json
/android/app/debug
/android/app/profile
/android/app/release
*.class
*.apk
*.aab

# App signing & keystores
*.jks
*.keystore
key.properties

# ────────── Firebase ──────────
firebase-debug.log
firebase.json
firebase-app-id.json

# ────────── Appetize ──────────
appetize-upload.json

# ────────── IDEs & Editors ──────────
.idea/
*.iml
*.ipr
*.iws
.vscode/
.atom/
.history

# ────────── OS & Misc ──────────
*.log
*.pyc
*.swp
.DS_Store
.Thumbs.db
.sass-cache
*.symbols
app.*.map.json
migrate_working_dir/

# ────────── Docker / Codespaces ──────────
.docker/
.devcontainer/

# ────────── Versioning tools ──────────
.svn/
.swiftpm/

# ────────── iOS (if ever added) ──────────
**/ios/Flutter/.last_build_id
